header.header
	.header__block.header__block_top
		.mid
			ul.social__list
				- var socials = ['fb', 'vk', 'tw']
				each social in socials
					li.socials__item
						a(href="#" class="socials__link social__link_" + social)
			ul.contact__list
				li.contact__item
					a(href="#" class="contact__link contact__link_street") ул. Маяковская 6, офис 17
				li.contact__item
					a(href="tel:+79211231213" class="contact__link contact__link_phone") +7 (921) 123-12-13
	.header__block
		.mid
			a(href="#" class="logo")
				img(src="img/logos/cooltech.png" alt="logo")
			.form
				form.form__search
					input(type="text" class="form__search__input" placeholder="Что будем искать")
					input(type="submit" class="form__search__button" value="Найти")
			ul.search__map__list
				- var maps = ["Карта проезда", "История заказов", "Корзина"]
				each map in maps
					li.search__map__item
						a(href="#" class="search__map__link")= map
	.header__block
		.mid
			ul.category__list
				- var kategorys = ['Планшеты', 'Мобильные телефоны', 'Mp3 плееры', 'Персональные компьютеры', 'Ноутбуки', 'Аксессуары', 'Бытовая техника']
				each kategory in kategorys
					- if ( kategory == 'Мобильные телефоны')
						li.category__item 
							a(href="#" class="category__link category__link_active") #{kategory}
					- else
						li.category__item 
							a(href="#" class="category__link") #{kategory}
	.header__block
		.mid
			ul.menu__list
				- var menus = ['Главная', '>', 'Каталог']
				each menu in menus
					- if ( menu == '>')
						li.menu__item #{menu}
					- else if ( menu == 'Каталог')
						li.menu__item
							block link_active
					- else
						li.menu__item 
							a(href="#" class="menu_link") #{menu}
			h4.category
				block category